<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Личный сайт студента GeekBrains</title>
	<link rel="stylesheet" href="style(hw).css"> 
	<script type="text/javascript">
		
		var k = 0;
		var pass = [];
		var array = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "T", "S", "U", "V", "W", "X", "Y", "Z", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z",
			"1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "!", "@", "#", "$", "%", "&", "*", "-", "=", "+", "_", "/"];

		function readInt(){
			var number = document.getElementById("n").value;
			return parseInt(number);
			// return +document.getElementById("userAnswer").value;
		}

		function write(text){
			document.getElementById("info").innerHTML = text;
		}

		function hide(id){
			document.getElementById(id).style.display = "none";
		}

		function getPassword(){
			var n = readInt();
			while(k < n){
				var i = 75;
				while(array[i] == undefined){
					i = Math.round(Math.random() * 74);
					pass.push(array[i]); 
				} k++;
			} write("Ваш пароль:<br> " + pass);
				hide("button");
				hide("n");
		}

	</script>
</head>
<body>

<div class="content">
	<div class="header">
		<a href="index.html">Главная</a>
		<a href="puzzle(hw).html">Загадки</a>
		<a href="guess(hw).html">Угадайка</a>
		<a href="#">Генератор паролей</a>
	</div>

<div class="contentWrap">
    <div class="content">
        <div class="center">

			<h1>Генератор паролей</h1>

			<div class="box">

				<p id="info">Введите число символов пароля</p>
				<input type="text" id="n">
				<br>
				<a href="#" onClick="getPassword();" id="button">Генерировать</a>				
			</div>

        </div>
    </div>
</div>

	

</div>
<div class="footer">
	Copyright &copy; Roman Belyakov
<div>


</body>
</html>